doctype html
html
  head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap_css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    script(src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js")
    script(src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
  body
    block content
